@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');

.login-component {
  display: flex;
  width: 70%;
  max-width: 960px;
  height: 520px; /* 增加高度以适应更大的内部间距 */
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  flex: 1.5;
  padding: 60px; /* 增加内边距 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to bottom right, #FFFFFF, #A9A9E6);
}

.login-image {
  flex: 1.5;
  background-color: #f0f0f0; 
  background-size: cover;
  background-position: center;
}

.login-form h1 {
  font-family: "Playwrite US Modern", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 3rem; /* 增加标题下的间距 */
}

/*
.login-form .MuiOutlinedInput-root {
  background-color: white; 
  border-radius: 4px; 
}
*/

.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form button {
  padding: 15px; /* 增加按钮的填充 */
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2rem; /* 为按钮增加上边距 */
}

::-ms-reveal {
  display: none
}


/* .MuiTextField-root {
  border-radius: 4px;
} */

.MuiIconButton-root {
  border-radius: 50%; 
  padding: 0; 
  background-color: transparent;
  margin: 0; /* Remove any default margin */
}

.login-form a {
  color: #6200ea;
  text-decoration: none;
}

.login-form p {
  margin-top: 2rem; /* 增加段落的上边距 */
}

.credentials-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remember-me {
  display: flex;
  align-items: center;
}

.forgot-password {
  text-decoration: none;
}