.loginpage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  
  #box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* 背景层 */
  }
  
  .loginpage > div {
    position: relative;
    z-index: 2; /* 确保内容在背景上层 */
  }
  