.register-component {
    display: flex;
    width: 70%;
    max-width: 960px;
    height: 520px; /* 增加高度以适应更大的内部间距 */
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
}

.register-form {
    flex: 1.5;
    padding: 60px; /* 增加内边距 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #FFFFFF, #A9A9E6);
}

.register-image {
    flex: 1.5;
    background-color: #f0f0f0; 
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

.register-image img {
    object-fit: cover;
    object-position: center calc(50%); /* 调整这个值来改变视点 */
  }

.register-title {
    margin-bottom: 2rem; /* 增加标题下的间距 */
    text-align: right; /* 右对齐 */
}

.register-form form {
    display: flex;
    flex-direction: column;
}

#customButton {
    background-color: transparent !important;
    color: #6200ea;
    box-shadow: none !important;
  }
  
  #customButton:hover {
    background-color: transparent !important;
    box-shadow: none !important;
  }

/* .register-form input[type="email"],
.register-form input[type="text"],
.register-form input[type="password"] {
    padding: 12px; 
    margin-bottom: 1.5rem; 
    border: 1px solid #ccc;
    border-radius: 4px;
} */


.verification-code-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1.5rem; /* 增加验证码部分与下方输入框的间距 */
}

.verification-code-section input[type="text"] {
    flex: 1;
    margin: 0; /* 去除多余的外边距 */
}

.verification-code-section button {
    white-space: nowrap; /* 防止按钮内文本换行 */
    padding: 10px 16px; /* 增加按钮的填充 */
    font-size: 1em; /* 调整字体大小 */
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0;
    transition: background-color 0.3s ease;
    flex-shrink: 0; /* 确保按钮不会缩小 */
}

.verification-code-section button:hover {
    background-color: #4500b5;
}

.register-form button {
    padding: 10px; /* 增加按钮的填充 */
    height: 40px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.register-form button:hover {
    background-color: #4500b5;
}

.register-form a {
    color: #6200ea;
    text-decoration: none;
}

.register-form a:hover {
    text-decoration: underline;
}

.register-form p {
    margin-top: 2rem; /* 增加段落的上边距 */
    text-align: center; /* 居中对齐 */
}
